main {
  background-color: #f0f0f0;
}

.lista-noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.lista-noticias li {
  width: 100ch;
}

.noticia {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.noticia-imagem img {
  width: 330px;
  height: 220px;
  margin-right: 1rem;
}

.noticia-conteudo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.conteudo-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.conteudo-publicado {
  display: flex;
  justify-content: space-between;
}

.leia-mais {
  display: flex;
}

.leia-mais button {
  background-color: #cfcfcf;
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.lista-paginacao {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  flex-wrap: wrap;
  gap: 5px;
}

.lista-paginacao li {
  margin: 0 5px;
}

.lista-paginacao button {
  padding: 5px 10px;
  border: 2px solid #4682b4;
  background-color: #fff;
  color: #4682b4;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.lista-paginacao button:hover {
  background-color: #f0f0f0;
}

@media (max-width: 1200px) {
  .lista-noticias li {
    width: 75%;
  }
}

@media (max-width: 1000px) {
  .noticia {
    flex-direction: column;
  }

  .lista-noticias li {
    width: 90%;
  }

  .noticia-imagem img {
    width: 100%;
    height: auto;
  }

  .noticia-imagem {
    width: 100%;
  }
}
